/ManagedPackageFramework
/*ReSharper*
/ClojureExtension/Project/Launching/Runners
/ClojureExtension/ProjectBase/
bin/
obj/
*.user
*.suo
*.dll
*.obj
*.pdb
*.exe
*Deployment/Runtimes/1.3.0/
Debug/
Release/
Backup/